/* default.css */
html {
	text-align: center;
}

body
{
	font: 12px "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;
	margin: 0;
	display: inline-block;
	text-align: left;
	white-space: nowrap;
}

#header
{
	overflow: hidden;
	background-color: #F3F3F3;
	text-align: center;
	padding: 8px;
	margin: 0 8px 1em;
	border-radius: 0 0 2px 0;
	white-space: normal;
	max-width: 932px;
}

#header:empty {
	display: none;
}

#header:empty ~ #index {
	margin-top: 6px;
	border-top: none;
}

#header:empty ~ #content h1 {
	margin-top: 1em;
}

h1
{
	font-size: 150%;
	font-weight: bold;
	padding: 0;
	margin: 0 0 0 .3em;
}

h1 + div {
	margin-top: 1em;
}

hr
{
	border: none 0;
	border-top: 1px solid #7fb18c;
	height: 1px;
}

pre.code
{
	display: block;
	padding: 8px;
	border: 1px dashed #ccc;
}

#index
{
	margin: -1em 0 0 8px;
	min-width: 160px;
	max-width: 320px;
	background-color: #F3F3F3;
	padding: 8px;
	border-top: 1px dashed darkgray;
	border-radius: 0 0 2px 2px;
}

#index h2 a {
	color: black;
	text-decoration: none;
}

#index h2 a:hover {
	text-decoration: underline;
}

#index, #content {
	display: inline-block;
	vertical-align: top;
	white-space: normal;
}

#content
{
	margin: 0 8px;
	width: 600px;
}

.augmentorsList
{
	display: block;
	padding-left: 40px;
}

.classList
{
	list-style-type: none;
	padding: 0;
	margin: 0 0 0 8px;
	font-family: arial, sans-serif;
	font-size: 1em;
	overflow: auto;
}

.classList li
{
	padding: 0;
	margin: 0 0 8px 0;
}

.classList .subspace
{
	position: relative;
}

.classList .subspace:before, .classList .subspace:after
{
	content: "";
	position: absolute;
	left: 0;
	margin-left: -.75em;
	border: 0 dotted gray;
}

.classList .subspace:before
{
	top: -8px;
	bottom: 0;
	border-left-width: 1px;
}

.classList .subspace.will-up:before
{
	bottom: -8px;
}

.classList .subspace.will-up + .subspace.up:before {
    top: 50%;
}

.classList .subspace.up:before
{
	top: 0;
}

.classList .subspace.will-down:before
{
	bottom: 50%;
}

.classList .subspace.up.will-down:before, .classList .subspace.up.will-down:after {
        border-width: 0;
}

.classList .subspace.down + .subspace.up:before
{
	top: 50%;
}

.classList .subspace:after
{
	top: 50%;
	width: .5em;
	border-bottom-width: 1px;
}

.summaryTable { width: 100%; }

h1.classTitle
{
	font-size:170%;
	line-height:130%;
}

h2 { font-size: 110%; }
h2:first-child { margin-top: 0; }
caption, div.sectionTitle
{
	background-color: #7fb18c;
	color: #fff;
	font-size:130%;
	text-align: left;
	padding: 2px 6px 2px 6px;
	border: 1px #7fb18c solid;
}

div.sectionTitle { margin-bottom: 8px; }
.summaryTable thead { display: none; }

.summaryTable td
{
	vertical-align: top;
	padding: 4px;
	border-bottom: 1px #7fb18c solid;
	border-right: 1px #7fb18c solid;
}

/*col#summaryAttributes {}*/
.summaryTable td.attributes
{
	border-left: 1px #7fb18c solid;
	width: 140px;
	text-align: right;
}

td.attributes, .fixedFont
{
	line-height: 15px;
	color: #002EBE;
	font-family: "Courier New",Courier,monospace;
	font-size: 13px;
}

.summaryTable td.nameDescription
{
	text-align: left;
	font-size: 13px;
	line-height: 15px;
}

.summaryTable td.nameDescription, .description
{
	line-height: 15px;
	padding: 4px;
	padding-left: 4px;
}

.summaryTable { margin-bottom: 8px; }

ul.inheritsList
{
	list-style: square;
	margin-left: 20px;
	padding-left: 0;
}

.detailList {
	margin-left: 20px; 
	line-height: 15px;
}
.detailList dt { margin-left: 20px; }

.detailList .heading
{
	font-weight: bold;
	padding-bottom: 6px;
	margin-left: 0;
}

.light, td.attributes, .light a:link, .light a:visited
{
	color: #777;
	font-style: italic;
}

.fineprint
{
	text-align: center;
	font-size: 10px;
	margin: 3em 0 1em;
}